alembic
blinker
certifi
charset-normalizer
click
colorama
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug
WTForms
gunicorn